<h1 class="text-center"><u>Modifier ce comm</u></h1> <br>
<%= form_for @comment, url: {action: "update"} do |f| %>
<div class="container" >
  <%= f.text_field :content, class: "form-control", placeholder: "content" %>
  <%= f.text_field :anonymous_commentor, class: "form-control", placeholder: "ton blaze" %>
  <%= f.submit "Modifier ce commentaire", class: "btn btn-primary" %>
  </div>
<% end %>